/* #region General Rules */
body {
    font-family: 'Metropolis';
}

.container {

}

.section-title-text {
    font-size: 75px;
    line-height: 90px;
    font-weight: 550;
    color: black;
}

.section-subtitle-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(34, 34, 34, 0.66);
}
/* #endregion */

/* #region Scrollbar Styling */
.scroll-through::-webkit-scrollbar {
    height: 5px;
}

.scroll-through::-webkit-scrollbar-thumb {
    border-left: 10vw solid #ededed;
    border-right: 10vw solid #ededed;
}

.cypher-team .scroll-through::-webkit-scrollbar-thumb {
    background-color: #00A6FC;
}

.senior-advisors .scroll-through::-webkit-scrollbar-thumb {
    background: #DD7CFF;
}

.cypher-team .scroll-through::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 186, 252, 0.75);
}
.senior-advisors .scroll-through::-webkit-scrollbar-thumb:hover {
    background-color: rgba(221, 124, 255, 0.75);
}
/* #endregion */

/* #region Button Styling */
button {
    position: relative;
    border-color: black;

    padding: 5px;
    width: 150px;
    font-weight: 450;
}

.black-button {
    height: 45px;
    margin-right: 20px;
    
    background-color: black;
    border-radius: 6px;
    
    color: white;
    font-size: 18px;
}

.white-button {
    height: 60px;
    width: 200px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px #00A6FC;
    
    font-size: 20px;
}

.gradient-button {
    height: 45px;
    
    background: linear-gradient(265.64deg, #DD7CFF 0%, #00A6FC 100%);
    border-radius: 6px;
    
    color: black;
    font-size: 18px;
}

.navbar .gradient-button {
    width: 100px;
    height: 50px;
    
    background: linear-gradient(265.64deg, #DD7CFF 0%, #00A6FC 100%);
    border-radius: 6px;
}

.engage .gradient-button {
    position: relative;
    height: 60px;
    width: 200px;
    
    background: linear-gradient(85.58deg, #1b6e9b 1.29%, #87599b 74.66%);
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px black;

    color: white;
    font-size: 20px;
}

.white-button:hover, .engage .gradient-button:hover {
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px;
}

/* #endregion */

/* #region Navigation Bar Section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-right: 5vw;
    padding-left: 5vw;
    
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 24px;
  
    transition: top 0.3s;
    animation-timing-function: linear;
}
.navbar.clear {
    background-color: rgba(0, 0, 0, 0);
}
.navbar.moving {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
}
.navbar-links-and-buttons {
    display: flex;
    gap: 20px;
}
.nav-link {
    color: white !important;
    font-family: 'Proxima Nova';
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}
.nav-link:hover{
    color: rgba(256,256,256,0.6) !important;
}
/* #endregion */

/* #region Hero Section */
.hero {
    display: flex;
    flex-direction: column;
}

.hero-main-container {
    display: flex;
    flex-direction: column;
    
    background-image: url("../assets/images/hero-background-image.png");
    background-size:100%;

    padding: 15vh 10vw 15vh 0;
    gap: 25px;
    height: 90vh;

    text-align: right;
}

.hero-description {
    font-size: 25px;
    color: #E8E8E8;
    line-height: 35px;
    font-weight: 500;
}

.hero-logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    
    background-color: black;
}

.hero-logo-image {
    height: 5vh;
}
/* #endregion */

/* #region Information Section */
.information {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    
    text-align: left;
}

.bcf-card-container {
    display: flex;
    justify-content: space-between;

    padding: 5vw;
    padding-bottom: 10vh;
}

.bcf-card-container .card {
    display: flex;
    flex-direction: column;

    width: 250px;
    padding: 4px;
    
    background: linear-gradient(210.95deg, #DD7CFF 27.79%, #00A6FC 100%);
    outline: 1px solid #000000;
    box-shadow: 5px 5px black;
    border-radius: 6px;

    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.bcf-card-container .card-title {
    padding-top: 5px;
    
    font-weight: 700;
    font-size: 24px;
}

.bcf-card-container .card-text {
    padding: 10px;
    
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 22px;
}
/* #endregion */

/* #region Cohort Section */

.flex-container {
    display: flex;
    width: 100%
}

.cohort {
    margin: 5%;
}

.card-body#quote-body {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

.flex-child#intro-right, .flex-child#card-right  {
    width: 60%;
    margin-left: auto; 
    margin-right: 0;   
    text-align: right; 
}

.flex-child#card-right {
    align-self: flex-end;
}
.flex-child#card-right > .card-title {
    font-size: 1.5vw;
}
.flex-child#card-right > .card-subtitle {
    font-size: 1.25vw;
}

p#subtitle-top {
    font-size: 1vw;
}

h1#subtitle-bottom {
    font-size: 6vw;
}

#quote-card {
    width: 35%;
    margin-top: 10%;
    display: grid;
    grid-template: 1fr / 1fr;
}

#quote-card > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.background-box {
    height: 50%;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 6px;
    background: linear-gradient(71.24deg, #00A6FC 0%, #DD7CFF 98.86%);;
    z-index: 1;
}

#quote-card > .card {
    height: 50%;
    outline: 2px solid black;
    z-index: 2;
}

.card-text#quote-text {
    margin-top: 5%;
    font-size: 1.5vw;
}

.flex-child#card-left > img{
    width: 7vw;
}

.map {
    text-align: center;
}

@keyframes frontTransition {
from {
    r: 6;
    fill: #00A6FC;
}
to {
    r: 10;
    fill: #000000;
}

}
.front:hover {
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-name: frontTransition;
    r: 10;
    fill: #000000;
    cursor: pointer;
}

/* Company Grid */
.company {
    margin-top: 10%;
}

.cohort-grid {
    margin-top: -10%;
}

/* Company Cards */
.company-card {
    width: 255px;
    height: auto;
    outline: 2px solid black;
    box-shadow: 5px 5px;
}

.company-card:hover {
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px;
    cursor: pointer;
}

.flex-child#company-logo > img{
    width:65px;
    background-color: black;
    border-radius: 5px;
}

#company-info {
    margin-left: 10px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.flex-child#company-logo {
    width: 30%;
    vertical-align: middle;
}

.flex-child#company-info .card-title{
    text-align: left;
    font-size: 16.5px; /* Card should not resize*/
}

#test {
    width: 150px;
}

#tags {
    width: auto;
    float: left;
}
#company-links {
    width: 100%;
}
#company-links > div {
    float: right;
}

#company-links > div > a > svg{
    color: black; 
}

/* Popup Company Description */

body > div.fade.modal.show > div > div {
    background-color: transparent;
    border: transparent;
}
.flex-child#popup-modal {
    width: 60%;
}

.model-title {
    padding-right: 10%;
}

#popup-modal > div.modal-header > div:nth-child(2) {
    margin-left: 10px;
}

.flex-child#popup-img {
    width: 40%;
    vertical-align: middle;
}
.flex-child#popup-img > img{
    width: 90%;
    margin: 5%;
    border-radius: 5px;
    background-color: black;
}

#popup-modal > div.modal-footer > a {
    color: black;
}

#popup-modal > div.modal-body > p {
    font-size: 90%;
}

#popup-modal > div.modal-body > p {
    /* color: white; */
    font-size: .75vw;
}
/* #endregion */

/* #region Engage Section */
.engage {
    display: flex;
    justify-content: center;
    
    position: relative;
    gap: 30px;
    margin-top: 100px;
}

.engage::before {
    display: block;

    position: absolute;
    z-index: 0;
    left: 0;
    top: 50%;
    height: 50%;
    width: 100%;

    content: "";
    background: #ededed;
    border-top: 4px solid black;
}

.engage .card {
    padding-top: 20px;
    text-align: center;
}

.engage .card-title {
    font-size: 36px;
    font-weight: 600;
}

.engage .card-text {
    padding: 15px 8% 10px 8%;
    
    font-family: "Proxima Nova";
    font-size: 24px;
    line-height: normal;
}

.engage .get-involved.card {
    width: 25vw;
    height: 40vh;
    
    background: linear-gradient(146.6deg, #00A6FC 0%, #DD7CFF 76.96%);
    border: 4px solid #000000;
    border-radius: 9px;

    color: rgba(0, 0, 0, 0.68);
}

.apply-background {
    position: relative;
    padding: 4px;
    height: 40vh;

    background: linear-gradient(270deg, #00A6FC 0%, #DD7CFF 76.96%);
    border-radius: 9px;
}

.engage .apply.card {
    width: 45vw;
    height: calc(40vh - 8px);
    
    border-radius: 5px;
    background-color: black;
    color: #F5F4F1;
}
/* #endregion */

/* #region Team Section */
.team {
    padding: 10vh 0 10vh 0;
    
    text-align: left;
    background-color: #ededed;
}

.team-text {
    padding-left: 10vw;
    padding-right: 10vw;
}

.subsection-title-text {
    padding-left: 10vw; /* REDUNDANT */
    padding-right: 10vw;
    
    background: linear-gradient(270deg, #00A6FC 15%, #DD7CFF 25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-align: right;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

.scroll-through {
    min-width: 100%;
    gap: 50px;
    overflow-x: scroll !important;
    overflow-y: hidden;
    padding-left: 10vw;
    padding-right: 10vw;

 
    margin-top: 2vh;
    margin-bottom: 5vh;

    display: flex;
    justify-content: space-between;
}

.senior-advisors .scroll-through {
    flex-direction: row-reverse;
}

.team .card {
    width: 15vw;
    height: 15vw;
    padding: 2%;

    border-radius: 6px;

    font-family: 'Proxima Nova';
}

.cypher-team .card { 
    border: 2px solid black;
    box-shadow: 5px 5px #00A6FC;
    background-color: white;
    color: black;
}

.senior-advisors .card {
    border: 2px solid white;
    box-shadow: 5px 5px #DD7CFF;
    background-color: black;
    color: white;
}

.team .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: left;
}

.team .card-title {
    font-size: 18px;
    font-weight: 700;
}

.team .card-subtitle {
    font-size: 13px;
    font-weight: lighter;
}

.team .card-img {
    height: 8vh;
    width: 8vh;
    margin-bottom: 10px;

    border: solid 3px #F3F4F5;
    border-radius: 50%;
}

.card-icons {
    display: flex;
    justify-content: space-evenly;
    
    margin-top: auto;
}

.cypher-team .card-subtitle {
    color:rgba(0, 0, 0, 0.8);
}

.senior-advisors .card-subtitle {
    color:rgba(256, 256, 256, 0.8);
}

.cypher-team .card-img {
    border: solid 3px rgba(34, 34, 34, 0.66);
}

.scroll-cushion {
    height: 20px;
}

#jeff_amico {
    margin-right: 5px;
}

#catrina_wang {
    margin-right: 5px;
}
/* #endregion */

/* #region Corporate Partners Section */
.partners {
    padding-top: 5%;
    padding-bottom: 5%;
    
    background: #222222;
}

.partners .subsection-title-text {
    margin-bottom: 25px;
    
    background: linear-gradient(270deg, #00A6FC 40%, #DD7CFF 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-align: center;
}

.partner-logo {
    opacity: 0.5;
    height: 50px;
}

.partner-logo:hover {
    opacity: 1;
}

.partners > div > div:nth-child(1) {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.partners > div > div:nth-child(2) {
    padding-top: 2.5%;
}
/* #endregion */

/* #region Footer Section */
.footer {
    padding: 1% 2% 0 1%;
    
    background-color: black;
    color: white;
}

.footer > div > div:nth-child(2) > a {
    color: white;
}

.flex-child {
    width: 50%;
}

.flex-child.footer-left {
    text-align: left;
}
.flex-child.footer-right {
    text-align: right;
    align-self: center;
}

.footer-right > a:nth-child(4) {
    padding-right: 2.5%;
}
/* #endregion */
