div {
    font-family: 'Metropolis';
}

p {
    font-family: 'Proxima Nova';
}

.subtitle {
    font-size: 75px;
}

/* Title Section CSS */
.title {
    position: relative;
    text-align: right;
    padding-right: 5%;
}

.flex-container {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-top: -5%;
} 



div.card {
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    outline: 2px solid black;
    width: 555px;
    height: 321px;
    border-radius: 6px;
}

div.card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
}

div.card-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
}

p.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    padding-top: 5%;
}


/* map */
/* img {
    width: 50%;
    height: auto;
} */
